<div class="h-cite<%= rootClass %>">
<% if (entry.replyTo != null) { %>
    <a class="u-in-reply-to" href="<%= entry.replyTo.url %>"></a>
<% } %>
<% if (entry.likeOf != null) { %>
    <a class="u-like-of" href="<%= entry.likeOf.url %>"></a>
<% } %>
<% if (entry.repostOf != null) { %>
    <a class="u-repost-of" href="<%= entry.repostOf.url %>"></a>
<% } %>
    <div class="blog-post">
<% if (entry.isArticle()) { %>
        <h2 class="blog-post-title p-name"><%= entry.name %></h2>
<% } %>
<%- include('meta', {hideAuthor: false}); %>
        <div class="e-content<%= entry.isArticle() ? '' : ' p-name note-content' %>"><%= entry.content.value %></div>
<%- include('actions'); %>
    </div>
</div>

