<div class="h-cite<%= rootClass %>">
<% entry.replyTo.forEach(function(replyTo) { %>
    <a class="u-in-reply-to" href="<%= replyTo.url %>"></a>
<% }); %>
<% entry.likeOf.forEach(function(likeOf) { %>
    <a class="u-like-of" href="<%= likeOf.url %>"></a>
<% }); %>
<% entry.repostOf.forEach(function(repostOf) { %>
    <a class="u-repost-of" href="<%= repostOf.url %>"></a>
<% }); %>
    <div class="blog-post">
<% if (entry.isArticle()) { %>
        <h2 class="blog-post-title p-name"><%= entry.name %></h2>
<% } %>
<%- include('meta', {hideAuthor: false}); %>
<% if (entry.content != null) { %>
        <div class="e-content<%= entry.isArticle() ? '' : ' p-name note-content' %>"><%= entry.content.value %></div>
<% } else if (entry.name != null) { %>
        <div class="p-name"><%= entry.name %></div>
<% } %>
<%- include('actions'); %>
    </div>
</div>

