mixin cite(entry, rootClass)
    div(class="h-cite" + rootClass)
        if entry.isReply()
            a(class="u-in-reply-to" href=entry.replyTo.url)
        if entry.isLike()
            a(class="u-like-of" href=entry.likeOf.url)
        if entry.isRepost()
            a(class="u-repost-of" href=entry.repostOf.url)

        if entry.isLike()
            i(class="fa fa-star")
            |  
            a(class="p-author h-card" href=entry.author.url)= entry.author.name
            |  liked this.
            a(class="u-url" href=entry.url)
                if entry.published != null
                    - var dateString = site.formatDate(entry.published);
                    time(class="dt-published" datetime=entry.published.toISOString() title=dateString)

        if entry.isRepost()
            i(class="fa fa-retweet")
            |  
            a(class="p-author h-card" href=entry.author.url)= entry.author.name
            |  reposted this.
            a(class="u-url" href=entry.url)
                if entry.published != null
                    - var dateString = site.formatDate(entry.published);
                    time(class="dt-published" datetime=entry.published.toISOString() title=dateString)

        if !entry.isLike() && !entry.isRepost()
            div(class="blog-post")
                if entry.isArticle()
                    h2(class="blog-post-title p-name")= entry.name
                - var hideAuthor = false;
                include ./meta
                if entry.content != null
                    div(class="e-content" + (entry.isArticle() ? '' : ' p-name'))
                        if entry.isReply()
                            = util.truncate(entry.content.value, 1440)
                        else
                            = util.truncate(entry.content.value, 180)
                else if entry.name != null
                    div(class="p-name")= entry.name
                include ./actions