<div class="h-entry">
<% entry.replyTo.forEach(function(r) { %>
    <%- include('cite', {entry: r, rootClass: ' p-reply-to'}); %>
<% }); %>
<% entry.likeOf.forEach(function(r) { %>
    <%- include('cite', {entry: r, rootClass: ' p-like-of'}); %>
<% }); %>
<% entry.repostOf.forEach(function(r) { %>
    <%- include('cite', {entry: r, rootClass: ' p-repost-of'}); %>
<% }); %>
    <div class="blog-post-larger">
<% if (entry.isArticle()) { %>
        <h2 class="blog-post-title p-name"><%= entry.name[0] %></h2>
<% } %>
<%- include('meta'); %>
        <div class="e-content<%= entry.isArticle() ? ' p-name note-content' : '' %>"><%- entry.content[0].html %></div>
<%- include('actions'); %>
    </div>

    <!-- replies -->
<% entry.children.forEach(function(c) { %>
    <%- include('cite', {entry: c, rootClass: ''}); %>
<% }); %>
    <!-- /replies -->
</div>

