<div class="h-entry">

    <% if (entry.replyTo != null) { %>
        <i class="fa fa-reply"></i>
        In reply to:
        <%- include('cite', {entry: entry.replyTo, rootClass: ' p-in-reply-to'}); %>
    <% } %>

    <% if (entry.likeOf != null) { %>
    <i class="fa fa-star"></i>
    <a href="<%= entry.author.url %>" class="p-author h-card"><%= entry.author.name %></a> liked this.
    <% } %>

    <% if (entry.repostOf != null) { %>
    <i class="fa fa-retweet"></i>
    <a href="<%= entry.author.url %>" class="p-author h-card"><%= entry.author.name %></a> reposted this.
    <% } %>

    <% if (!entry.isLike() && !entry.isRepost()) { %>
    <div class="blog-post-larger">
<% if (entry.isArticle()) { %>
        <h2 class="blog-post-title p-name"><%= entry.name %></h2>
<% } %>
<%- include('meta', {hideAuthor: false}); %>
        <div class="e-content<%= entry.isArticle() ? '' : ' p-name note-content' %>"><%- entry.content.html %></div>
<%- include('actions'); %>
    </div>
    <% } %>

    <% if (entry.likeOf != null) { %>
        <%- include('cite', {entry: entry.likeOf, rootClass: ' p-like-of'}); %>
    <% } %>

    <% if (entry.repostOf != null) { %>
        <%- include('cite', {entry: entry.repostOf, rootClass: ' p-repost-of'}); %>
    <% } %>

    <!-- replies -->
<% entry.children.forEach(function(c) { %>
    <%- include('cite', {entry: c, rootClass: ''}); %>
<% }); %>
    <!-- /replies -->
</div>

