include ./cite
div(class="h-entry")
    each reply in entry.replyTo
        i(class="fa fa-reply")
        |  In reply to:
        +cite(reply, ' p-in-reply-to')

    if entry.isLike()
        i(class="fa fa-star")
        |  
        a(class="p-author h-card" href=entry.author.url)= entry.author.name
        |  liked this.
        a(class="u-url" href=entry.url)
            if entry.published != null
                - var dateString = site.formatDate(entry.published);
                time(class="dt-published" datetime=entry.published.toISOString() title=dateString)

    if entry.isRepost()
        i(class="fa fa-retweet")
        |  
        a(class="p-author h-card" href=entry.author.url)= entry.author.name
        |  reposted this.
        a(class="u-url" href=entry.url)
            if entry.published != null
                - var dateString = site.formatDate(entry.published);
                time(class="dt-published" datetime=entry.published.toISOString() title=dateString)

    div(class="blog-post-larger")
        if !entry.isLike() && !entry.isRepost()
            if entry.isArticle()
                h2(class="blog-post-title p-name")= entry.name
            - var hideAuthor = false;
            include ./meta
            if entry.content != null
                - var contentClass = "e-content" + (entry.isArticle() ? '' : ' p-name');
                div(class=contentClass)!= entry.content.html
            else if entry.name != null
                div(class="p-name")= entry.name
        if entry.isLike()
            +cite(entry.likeOf, ' p-like-of')
        if entry.isRepost()
            +cite(entry.repostOf, ' p-repost-of')
        if entry.embed != null
            div(class="e-x-embed")!= entry.embed.html
        include ./actions

    each child in entry.getChildren(microformat.Entry.byType)
        +cite(child, '')