<div class="h-entry">

    <% entry.replyTo.forEach(function(replyTo) { %>
        <i class="fa fa-reply"></i>
        In reply to:
        <%- include('cite', {entry: replyTo, rootClass: ' p-in-reply-to'}); %>
    <% }); %>

    <div class="blog-post-larger">
    <% if (entry.isArticle()) { %>
        <h2 class="blog-post-title p-name"><%= entry.name %></h2>
    <% } %>
    <%- include('meta', {hideAuthor: false}); %>
    <% if (entry.content != null) { %>
        <div class="e-content<%= entry.isArticle() ? '' : ' p-name note-content' %>"><%- entry.content.html %></div>
    <% } else if (entry.name != null) { %>
        <div class="p-name"><%= entry.name %></div>
    <% } %>
    <%- include('actions'); %>

    <% entry.likeOf.forEach(function(likeOf) { %>
        <%- include('cite', {entry: likeOf, rootClass: ' p-like-of'}); %>
    <% }); %>

    <% entry.repostOf.forEach(function(repostOf) { %>
        <%- include('cite', {entry: repostOf, rootClass: ' p-repost-of'}); %>
    <% }); %>
    </div>




    <!-- replies -->
<% entry.children.forEach(function(c) { %>
    <%- include('cite', {entry: c, rootClass: ''}); %>
<% }); %>
    <!-- /replies -->
</div>

