include ./cite
div(class="h-entry")
    each replyTo in entry.replyTo
        i(class="fa fa-reply")
        |  In reply to:
        +cite(replyTo, ' p-in-reply-to')

    if entry.likeOf.length > 0
        i(class="fa fa-star")
        |  
        a(class="p-author h-card" href=entry.author.url)= entry.author.name
        |  liked this.
        a(class="u-url" href=entry.url)
            if entry.published != null
                - var dateString = site.formatDate(entry.published);
                time(class="dt-published" datetime=entry.published.toISOString() title=dateString)

    if entry.repostOf.length > 0
        i(class="fa fa-retweet")
        |  
        a(class="p-author h-card" href=entry.author.url)= entry.author.name
        |  reposted this.
        a(class="u-url" href=entry.url)
            if entry.published != null
                - var dateString = site.formatDate(entry.published);
                time(class="dt-published" datetime=entry.published.toISOString() title=dateString)

    if !entry.isLike() && !entry.isRepost()
        div(class="blog-post-larger")
            if entry.isArticle()
                h2(class="blog-post-title p-name")= entry.name
            - var hideAuthor = false;
            include ./meta
            if entry.content != null
                - var contentClass = "e-content" + (entry.isArticle() ? '' : ' p-name');
                div(class=contentClass)!= entry.content.html
            else if entry.name != null
                div(class="p-name")= entry.name
            include ./actions

    each likeOf in entry.likeOf
        +cite(likeOf, ' p-like-of')

    each repostOf in entry.repostOf
        +cite(repostOf, ' p-repost-of')

    each child in entry.children
        +cite(child, '')