        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <div class="h-card">
                <img class="u-photo" src="<%= site.author.photo %>">
                <a class="p-name u-url" rel="me" href="<%= site.url %>">
                    <%= site.author.name %>
                </a>
                <p class="p-note"><%= site.author.note %></p>
            </div>
          </div>
          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <% site.author.elsewhere.forEach(function(e) { %>
              <li><a href="<%= e.url %>" rel="me"><%= e.name %></a></li>
              <% }); %>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <div class="blog-footer">
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/blog.js"></script>
  

</body></html>
