        <p class="blog-post-meta">
<% if (entry.author.url != site.url) { %>
            <a class="p-author h-card" href="<%= entry.author.url %>">
                <% if (entry.author.photo != null) { %>
                <img src="<%= author.photo %>">
                <% } %>
                <%= entry.author.name %>
            </a>
<% } %>
<% if (entry.author.url != site.url && entry.published != null) { %>
            -
<% } %>
            <a class="u-url" href="<%= entry.url %>">
<% if (entry.published != null) {
       var dateString =utils.formatDate(entry.published); %>
                <time class="dt-published" datetime="<%= entry.published.toISOString() %>" title="<%= dateString %>"><%= dateString %></time>
<% } %>
            </a>
        </p>

