        <p class="blog-post-meta">
<% if (!hideAuthor) { %>
            <a class="p-author h-card" href="<%= entry.author.url %>">
                <% if (entry.author.photo != null) { %>
                <img src="<%= entry.author.photo %>">
                <% } %>
                <%= entry.author.name %>
            </a>
<% } %>
<% if (!hideAuthor && entry.published != null) { %>
            -
<% } %>
            <a class="u-url" href="<%= entry.url %>">
<% if (entry.published != null) {
       var dateString =utils.formatDate(entry.published); %>
                <time class="dt-published" datetime="<%= entry.published.toISOString() %>" title="<%= dateString %>"><%= dateString %></time>
<% } %>
            </a>
<% entry.category.forEach(function(c) { %>
        <a href="<%= utils.getPathForCategory(c) %>"><span class="label label-default p-category"><%= c %></span></a>
<% }); %>
        </p>

