doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title
            block title
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="/css/blog.css")
        link(rel="authorization_endpoint" href=site.authUrl)
        link(rel="token_endpoint" href=site.tokenUrl)
        link(rel="micropub" href=site.micropubUrl)
        link(rel="webmention" href=site.webmentionUrl)

    body
        div(class="navbar navbar-default" role="navigation")
            div(class="container")
                a(class="navbar-brand" href="/")= site.title
                div(class="navbar-header")
                    button(type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                div(class="navbar-collapse collapse")
                    ul(class="nav navbar-nav")
                        li
                            a(href="/articles") Articles

        div(class="container")
            div(class="row")
                div(class="col-sm-8 blog-main")
                    block content
                div(class="col-sm-3 col-sm-offset-1 blog-sidebar")
                    div(class="sidebar-module sidebar-module-inset")
                        h4 About
                        div(class="h-card")
                            img(class="u-photo" src=site.author.photo)
                            a(class="p-name u-url" rel="me" href=site.url)= site.author.name
                            p(class="p-note")= site.author.note
                    div(class="sidebar-module")
                        h4 Elsewhere
                        ol(class="list-unstyled")
                        each e in site.author.elsewhere
                            li
                                a(href=e.url rel="me")= e.name

        div(class="blog-footer")

        script(src="/js/jquery.min.js")
        script(src="/js/bootstrap.min.js")
        script(src="/js/blog.js")
