include ./cite
div(class="h-entry")

    each replyTo in entry.replyTo
        i(class="fa fa-reply") In reply to
        |  
        a(class="u-in-reply-to" href=replyTo.url)= utils.truncate(replyTo.name, 70)

    if entry.likeOf.length > 0
        i(class="fa fa-star")
        a(class="p-author h-card" href=entry.author.url)= entry.author.name
        | liked this.

    if entry.repostOf.length > 0
        i(class="fa fa-retweet")
        a(class="p-author h-card" href=entry.author.url)= entry.author.name
        | reposted this.

    if !entry.isLike() && !entry.isRepost()
        div(class="blog-post")
            if entry.isArticle()
                h2(class="blog-post-title p-name")
                    a(href=entry.url)= entry.name
            - var hideAuthor = true;
            include ./meta
            if entry.summary !== null
                div(class="p-summary")= entry.summary
                a(href=entry.url) More...
            else
                - var contentClass = "e-content" + (entry.isArticle() ? '' : ' p-name note-content');
                div(class=contentClass)!= entry.content.html
            include ./actions

    each likeOf in entry.likeOf
        +cite(likeOf, ' p-like-of')

    each repostOf in entry.repostOf
        +cite(repostOf, ' p-repost-of')

div(class="blog-post-spacer")
