<div class="h-entry">

    <% entry.replyTo.forEach(function(r) { %>
    <i class="fa fa-reply"></i>
    In reply to <a href="<%= r.url[0] %>" class="u-in-reply-to"><%= utils.truncate(r.name[0], 70) %></a>
    <% }); %>

    <% entry.likeOf.forEach(function(r) { %>
    <i class="fa fa-star"></i>
    <a href="<%= r.author[0].url[0] %>" class="p-author h-card"><%= r.author[0].name[0] %></a> liked this.
    <% }); %>

    <% entry.repostOf.forEach(function(r) { %>
    <i class="fa fa-retweet"></i>
    <a href="<%= r.author[0].url[0] %>" class="p-author h-card"><%= r.author[0].name[0] %></a> reposted this.
    <% }); %>

    <% if (!entry.isLike() && !entry.isRepost()) { %>
    <div class="blog-post">
        <% if (entry.isArticle()) { %>
        <h2 class="blog-post-title p-name"><%= entry.name[0] %></h2>
        <% } %>
        <%- include('meta'); %>
        <div class="e-content<%= entry.isArticle() ? '' : ' p-name note-content' %>"><%- entry.content[0].html %></div>
        <%- include('actions'); %>
    </div>
    <% } %>

    <% entry.likeOf.forEach(function(r) { %>
        <%- include('cite', {entry: r, rootClass: ' p-like-of'}); %>
    <% }); %>

    <% entry.repostOf.forEach(function(r) { %>
        <%- include('cite', {entry: r, rootClass: ' p-repost-of'}); %>
    <% }); %>

</div>

<div class="blog-post-spacer"></div>
