<%- include('header', {title: site.title}); %>
<h2>Posts tagged <i><%= category %></i></h2>
<ul class="h-feed">
<% entries.forEach(function (entry) { %>
    <li class="h-cite">
        <% var dateString =utils.formatDate(entry.published); %>
        <time class="dt-published" datetime="<%= entry.published.toISOString() %>" title="<%= dateString %>"><%= dateString %></time>
        <a class="u-url p-name" href="<%= entry.url %>"><%= utils.truncate(entry.name, 32) %></a>
    </li>
<% }); %>
</ul>
<%- include('entryfooter'); %>