<div class="h-cite<%= rootClass %>">
<% entry.replyTo.forEach(function(r) { %>
    <a class="u-in-reply-to" href="<%= entry.url[0] %>"></a>
<% }); %>
<% entry.likeOf.forEach(function(r) { %>
    <a class="u-like-of" href="<%= entry.url[0] %>"></a>
<% }); %>
<% entry.repostOf.forEach(function(r) { %>
    <a class="u-repost-of" href="<%= entry.url[0] %>"></a>
<% }); %>
    <div class="blog-post">
<% if (entry.isArticle()) { %>
        <h2 class="blog-post-title p-name"><%= entry.name[0] %></h2>
<% } %>
<%- include('meta'); %>
        <div class="e-content<%= entry.isArticle() ? ' p-name note-content' : '' %>"><%= entry.content[0].value %></div>
<%- include('actions'); %>
    </div>
</div>

